@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #0d1117;
    color: #e6edf3;
}

.container {
    display: flex;
    max-width: 1100px;
    margin: 40px auto;
    border-radius: 12px;
    overflow: hidden;
    background: #161b22;
}

.sidebar {
    width: 30%;
    background: #1f2937;
    padding: 40px 25px;
}

.profile-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #4f9cff;
    margin-bottom: 20px;
}

.subtitle {
    color: #9ca3af;
    margin-bottom: 25px;
}

.info {
    margin-top: 25px;
}

.info h3 {
    color: #4f9cff;
    margin-bottom: 10px;
}

.info ul li {
    margin-bottom: 8px;
    font-size: 0.95rem;
}

.content {
    width: 70%;
    padding: 40px 50px;
}

section {
    margin-bottom: 40px;
}

section h1 {
    color: #4f9cff;
    margin-bottom: 12px;
    font-size: 1.5rem;
    font-weight: 700;
}

.card {
    background: #1f2530;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    border-left: 4px solid #4f9cff;
}

.card h2 {
    margin-bottom: 5px;
}

.date {
    font-size: 0.85rem;
    color: #9ca3af;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 12px 20px;
  margin: 10px 5px;
  background:#1f2937;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px ;
  transition: 0.3s;
  border: 2px solid  white;
 

}

.btn:hover {
  background: #161b22;
  color: white;
}